html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

main {
    width: 100%;
    max-width: 1024px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

section {
    box-sizing: border-box;
}

#homepage {
    background-image: url("./assets/WebsiteBg5.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#PictureOfMe {
    width: 44%;
    height: auto;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    object-fit: cover;
    display: flex;
    aspect-ratio: 1;

}

.About-main-container .About {
    flex: 1;
}

#About-text-container  .About-picture {
    display: flex;
    width: 100%;
    text-align: right;
    flex-direction: row ;



}

#About-title {
    font-size: 128px;
    color: rgb(134, 100, 77);
    font-family: sans-serif;
    font-weight: bold;
    
   

}

#About-text {
    width: 62%;
    font-size: 14px;
    color: rgb(126, 91, 78);
    font-family: sans-serif;
   


}

.About-text-bg {
    background-color: #f4f3f0;
    opacity: 100%;
    padding: 135px;
    border-radius: 12px;
    max-width: 380px;
    margin: 20px;
    
}

body,
header,
nav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #2E6171;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav a,
.nav a:visited
 {
    font-family: sans-serif;
    color: #f5f9e9;
    font-weight: bold;
    text-decoration: none;
    padding: 12px 18px;
    transition: all 0.5s ease-in-out;
}

.nav a:hover {
    color: #e0acb8;
}

.icons-container {
    display:block;
    width: 100%;
    max-width: 10px;
    flex: 1;
    

}

/* HOBBIES PAGE - START */

#hobbies-body {
    background-image: url("./assets/WebsiteBg6.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.avatar-container {
    width: 100%;
    padding: 18px;
}

.hobby-card {
    background-color:  rgb(221, 213, 205) ;
    padding: 5%;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 28px;
    margin-top: 30px;
}

.avatar-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

#hobbies-main-container {
    width: 100%;
    max-width: 1024px;
    box-sizing: border-box;
}

.hobbies-interests-container {
    display: flex;
    width: 100%;
    padding: 12px 18px;
    gap: 88px
}

.hobbies-interests-container .card {
    flex: 1;
}

.card .card-title {
    font-family: sans-serif;
    font-weight: bold;
    color: #2E6171;
    stroke-width: 1px;
    font-size: 60px;
}

.progress-bar-card {
    margin: 20px 0
}

.progress-bar-title {
    font-family: sans-serif;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(134, 100, 77);
}

.progress-bar-container {
    width: 100%;
    background-color: rgb(221, 213, 205);
    border-radius: 25px;
    overflow: hidden;
}

.progress-bar-container .progress-bar {
    font-family: sans-serif;
    background-color: rgb(224, 172, 184);
    color: white;
    text-align: right;
    padding: 6px 12px;
    border-radius: 25px;
    font-weight: bold;
}

/* HOBBIES PAGE - END */
